@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: #202C36;
}
header{
    background: #2B3844; 
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.nav{
   
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    color: white;
}
.nav_h1{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 32.74px;
}
.nav_a{
    font-family: 'Nunito Sans', sans-serif; 
    font-weight: 600;
    font-size: 15px;
    line-height: 21.82px;
    color: white;                
}
/*main*/
.main{
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
}
.form_inp{
    width: 400px;
    margin-top: 48px;
    padding: 0 32px;
    gap: 24px;
    display: flex;
    align-items: center;
    background: #2B3844;
}
.input_type{
    width: 400px;
    height: 45px;
    text-align: left;
    border-radius: 5px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: 0px 2px 9px 0px #0000000E;
    color: white;
}
.input_type::placeholder{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: white;
}

/*footer*/

.wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}
.col{
    width: 264px;
    height: 250px;
    margin-top: 48px;
    background: #2B3844;
    border-radius: 5px;
    box-shadow: 0px 2px 9px 0px #0000000E;
    margin-bottom: 24px;
}
.card{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

/*media*/

@media screen and (max-width: 1200px){
    .container{
        width: 100%;
    }
}

@media screen and (max-width: 900px){
    .container{
        width: 100%;
    }
    .main{
        flex-direction: column;
        align-items: center;
    }
    .form_inp{
        width: 100%;
    }
    .wrapper{
        justify-content: center;
    }
    .col{
        width: 100%;
    }
}

@media screen and (max-width: 600px){
        .container{
        width: 100%;
    }
    .nav{
        flex-direction: column;
        align-items: center;
    }
    .nav_a{
        margin-top: 10px;
    }
    .main{
        flex-direction: column;
        align-items: center;
    }
    .form_inp{
        width: 100%;
    }
    .wrapper{
        justify-content: center;
    }
    .col{
        width: 100%;
    }
}